.alquileres {
    text-align: center;
    background-color: grey;
    color: white; 
    overflow: hidden;
}

.borde{
    border: 3px solid #ADA3A1 ;
}

.card-text{
    font-family: 'Times New Roman', Times, serif;
}

.card-title{
    overflow: hidden;
}