.contacto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0px 25% 0px 25%;
    background-color: white;
    overflow: hidden;
    border: 5px grey solid;
    h3 {
        overflow: hidden;
        margin-top: 3%;
        margin-bottom: 3%;
}

}

.iframeContacto {
    width: 70%;
    height: 300px;
    border: 3px solid rgb(145, 141, 141);
    &:hover {
    width: 100%; 
    height: 300px;
    transition: 2s;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 70%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.botonesContacto {
    width: 50%;
    background-color: grey;
    color: aliceblue;
    margin-left:1%;
}

.botones{
    display: flex;
    flex-direction: row;
}


.bodyContacto{
    background-image: url(../Multimedia/prueba1.jpg);
    background-size: cover;
}