.textoNosotros{
    background-color: white;
    color: black;
    font-size: 22px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}