*{
    background-color: black;
    color: whitesmoke;
    font-family: 'Abril Fatface', cursive;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;   
}

/* INDEX */
/*.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 28px 600px 80px 400px 120px 30px;
    grid-template-areas: 
    "header"
    "medio"
    "seleccion"
    "opcionesInicio"
    "pie"
    "derecho";
}

.barraNavInicio a{
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: transparent;
   text-decoration: none;
   color: white;
  
} 
.barraNavInicio a:hover{
    color: #35858B;
}
*/

.nav-item a{
    color: blue;
}

.barraNav ul{
    background: transparent;
}

.barraNav a{
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 40px;
   text-decoration: none;
   transition: all 1s;
   color: black;
} 


.banner h1:hover{
color: black;
transition: all 1s;

}

.barraNav a:hover{
    color: #35858B;

}


.buscador{
    height: 40px;
    width: 200px;
    order: 1;
}

.fotologo{
    display: inline-block;
    width: 120px;
    height: 100px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    background: transparent;
}

.colorPie {
    background: transparent;
}


.inicio{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barraNav {  
    background: transparent;
}



.banner{
    grid-area: medio;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 6px double #E9DAC1;
    height: 550px;
    background-image: url(/Multimedia/prueba1.jpg);
    background-size: cover;
    align-items: flex-start;
    font-weight: bold;
    font-size: 24px;
}

h1{
    background: transparent;
    margin-left: 20px;
}
.seleccionDeBusqueda{
    grid-area: seleccion;
    font-size: 22px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 10px;

}

.operacionOpciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;

}


.seleccionDeBusqueda input{
    margin-right: 50px;
    margin-left: 50px; 
    font-size: 18px;
}
 
.localidadOpciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;  
}

.seleccionDeBusqueda label{
    margin-left: 10px;
    margin-right: 10px;
}

.opcionesInicio{
 text-align: center;
 padding-bottom: 20px;
 padding-top: 20px;

}

.redesSociales{
    background: transparent;
}

.iconos{
    filter: brightness(2.5);
    mix-blend-mode: multiply;
    width: 45px;
    height: 45px;
    float: right;
    background: transparent;
}

.imagenInicio {
    height: 25em;
    width: 25em;
    gap: 50px;
    border: 6px double #F7E2E2;
}

.pie{
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    font-size: 15px;
    
}

.pie a{
    font-size: 18px;
    
}

.derecho{
    grid-area: derecho;
    text-align: center;
    background-color:white;
    color: black;
    display: inline;
}  

/* PAGINA ALQUILERES*/

.alquileres{
    text-align: center;
}


@media screen and (max-width:767px) {

    /*.grid{
        display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 28px 600px 80px 400px 120px 30px;
    grid-template-areas: 
    "header"
    "medio"
    "seleccion"
    "opcionesInicio"
    "pie"
    "derecho";
    }

    .inicio{
        display: flex;
        flex-direction: row;
        font-size: 10PX;
    }*/


    .opcionesInicio{
        grid-area: opcionesInicio;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 10px;
        

    }
    


    .pie{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 300px;
    }

    .barraNav a{
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        overflow: hidden;
    } 

    .localidadOpciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

} 

    @media screen and (max-width: 1023px) and (min-width:768px){

    /*    .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 250px 800px 200px 40px;
        grid-template-areas: 
        "header"
        "medio"
        "opcionesInicio"
        "pie"
        "derecho";
    }*/

    .inicio{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 200px;
        flex-wrap: wrap;
        align-items:center;
        overflow: hidden;
        
    }


    .barraNav a {
        font-size: 16px;
    }

    .seleccionesPrincipales{
        font-size: 18px;
    }

    .pie{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 300px;
    }


} 


/* NOSOTROS */

.nosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 500px 200px 100px 30px;
    grid-template-areas: 
    "header"
    "imagen"
    "parrafo"
    "footer"
    "derecho"
}

.inicio{
    grid-area: header;
}

.sobreNosotros{
    grid-area: imagen;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.textoNosotros {
    grid-area: parrafo;
}

.pieDePagina{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.derecho{
    grid-area: derecho;
} 


/*ALQUILERES*/

.alquileres{
    display: inline-block;
}


/* CONTACTO */

.iframeContacto {
    width: 250px;
    height: 200px;
    border: 3px solid black;
}

.iframeContacto:hover {
    width: 500px; 
    height: 200px;
    border: 5px solid blue;
    transition: 10s;
}



