.pie {
  justify-content: space-between;
  align-items: center;
  background-color: #2471A3;
  font-size: 15px;
  margin-top: 20px; }

.alquileres {
  text-align: center;
  background-color: grey;
  color: white;
  overflow: hidden;
  display: inline-block; }

.pie {
  background-color: pink;
  border: 4px solid grey; }

.borde {
  border: 5px solid #ADA3A1; }

.card-text {
  font-family: 'Times New Roman', Times, serif; }

.card-title {
  overflow: hidden; }

.contacto {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 2% 25% 0px 25%;
  background-color: white;
  overflow: hidden;
  border: 5px grey solid; }
  .contacto h3 {
    overflow: hidden;
    margin-top: 3%;
    margin-bottom: 3%; }

.iframeContacto {
  width: 70%;
  height: 300px;
  border: 3px solid #918d8d; }
  .iframeContacto:hover {
    width: 100%;
    height: 300px;
    transition: 2s; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 70%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif; }

.botonesContacto {
  width: 50%;
  background-color: grey;
  color: aliceblue;
  margin-left: 1%; }

.botones {
  display: flex;
  flex-direction: row; }

.bodyContacto {
  background-image: url(../Multimedia/prueba1.jpg);
  background-size: cover; }

.textoNosotros {
  background-color: white;
  color: black;
  font-size: 22px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px; }

.oportunidad {
  font-size: 1.8em;
  background-color: bisque;
  margin-bottom: 0%;
  border: 3px solid goldenrod;
  font-family: 'Akshar', sans-serif;
  text-align: center; }

.pie {
  margin-top: 0%; }

h2 {
  color: goldenrod;
  text-shadow: 1px 1px 2px black;
  overflow: hidden; }

.animate__backInRight {
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s; }

.textoOportunidad {
  display: flex;
  flex-direction: row; }

.textoOportunidadUno {
  font-family: 'Akshar', sans-serif;
  font-size: 2.5em;
  color: goldenrod;
  width: 35%;
  height: 100%;
  text-shadow: 1px 1px 2px black;
  text-align: center; }

@media screen and (max-width: 767px) {
  .seleccionDeBusqueda input {
    width: 130px;
    background-color: gray; }
  .opcionesInicio img {
    width: 18rem;
    height: 18rem; }
  .opcionesInicio h5 {
    font-size: 14px;
    flex-wrap: nowrap; }
  .operacionOpciones {
    flex-direction: row;
    font-size: 15px; }
  .localidadOpciones {
    font-size: 15px;
    flex-direction: row;
    margin-bottom: 10px; }
  .colorPie {
    display: none; }
  .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .redesSociales img {
      width: 50px;
      height: 50px;
      margin-left: 8px;
      margin-right: 8px;
      border: 5px inset cadetblue;
      align-items: center; }
  .derecho {
    font-size: 10px; }
  .barraNav {
    display: none; }
  .contacto {
    margin: 5% 5% 0px 5%;
    background-color: white;
    overflow: hidden;
    border: 5px grey solid; }
  .textoOportunidad {
    display: flex;
    flex-direction: column; }
  .textoOportunidadUno {
    font-size: 2em;
    width: 100%; }
  .oportunidad {
    font-size: 1.2em; } }

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .seleccionDeBusqueda input {
    width: 130px;
    background-color: gray; }
  .operacionOpciones {
    flex-direction: row;
    font-size: 18px;
    width: 40%; }
    .operacionOpciones label {
      width: 50%;
      font-size: 18px; }
  .localidadOpciones {
    flex-direction: row;
    font-size: 18px;
    width: 40%; }
    .localidadOpciones label {
      width: 40%;
      font-size: 18px; }
  .seleccionesPrincipales {
    font-size: 18px; }
  .opcionesInicio img {
    width: 15rem;
    height: 15rem; }
  .opcionesInicio h5 {
    font-size: 14px;
    flex-wrap: nowrap; }
  .colorPie {
    display: none; }
  .pie {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 8rem; }
    .pie ul {
      width: 700px; }
    .pie ul a {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px; }
    .pie .derecho {
      font-size: 11px; }
  .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 12rem;
    height: 3rem; }
    .redesSociales img {
      width: 3rem;
      height: 3rem;
      margin-left: 8px;
      margin-right: 8px;
      border: 5px inset cadetblue;
      align-items: center; }
  .barraNav ul {
    font-size: 12px; }
  .contacto {
    margin: 4% 10% 0px 10%;
    background-color: white;
    overflow: hidden;
    border: 5px grey solid; }
  .textoOportunidad {
    display: flex;
    flex-direction: row; }
  .textoOportunidadUno {
    font-size: 1.5em;
    width: 100%; }
  .oportunidad {
    font-size: 1em; } }

* {
  color: black;
  font-family: 'Abril Fatface', cursive;
  overflow-x: hidden;
  padding: 0%;
  margin: 0%; }

.inicio a {
  font-size: 26px;
  margin-right: 40px;
  margin-left: 40px; }

.nav-item a {
  font-size: 1.3rem; }

.barraNav {
  background: transparent; }
  .barraNav a {
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    transition: all 1s;
    color: black; }
    .barraNav a:hover {
      color: white; }
  .barraNav ul {
    background: transparent; }

.fotoNav {
  width: 3rem;
  height: 3rem; }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 6px double #E9DAC1;
  height: 600px;
  background-image: url(../Multimedia/prueba1.jpg);
  background-size: cover;
  align-items: flex-start;
  font-weight: bold; }

h1 {
  background-color: rgba(255, 255, 255, 0.15);
  color: aliceblue;
  overflow: hidden; }
  h1:hover {
    color: black;
    transition: all 1s; }

.animate__rubberBand {
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: linear; }

.animate__zoomIn {
  animation-delay: 1s;
  animation-timing-function: linear; }

.active a {
  color: #2471A3; }

.seleccionDeBusqueda {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  background-color: grey; }
  .seleccionDeBusqueda input {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px; }
  .seleccionDeBusqueda label {
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey; }

.operacionOpciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  background-color: grey; }

.localidadOpciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  background-color: grey;
  height: 3rem; }

.opcionesInicio {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px; }

.iconos {
  filter: brightness(2.5);
  mix-blend-mode: multiply;
  width: 45px;
  height: 45px;
  float: right;
  background: transparent; }

.imagenInicio {
  height: 25em;
  width: 25em;
  gap: 50px;
  border: 6px double black; }

.fotologo {
  display: inline-block;
  width: 120px;
  height: 100px;
  background: transparent;
  filter: brightness(1.1);
  mix-blend-mode: multiply; }

.colorPie {
  background: transparent; }

.pie {
  justify-content: space-between;
  align-items: center;
  background-color: #2471A3;
  font-size: 15px;
  margin-top: 20px; }
  .pie a {
    font-size: 20px;
    flex-wrap: wrap; }

.derecho {
  text-align: center;
  background-color: #85C1E9;
  color: black; }
